* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#193469;
}
.logo {
    color: rgb(243, 243, 243);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(243, 243, 243);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}
.nav-links a:hover {
    color: rgb(76, 229, 177);
}
.regis {
    display: flex;
    justify-content: space-around;
    width:20%;
}
.regis li {
    list-style: none;
}
.regis a {
    background-color:rgb(76, 229, 177);
    color: #193469;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: .5em 1em .5em;
    border-radius: 10em;
}
.regis a:hover {
    background-color: rgba(76, 229, 177, 0.8);
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(243, 243, 243);
    margin: 5px;
    transition: all 0.3s ease;
}

/* LIGHT DARK MODE */
.darkLight {
    margin:10px;
    cursor: pointer;
}
#darkmode {
    background: rgb(51, 51, 51);
    color: wheat;
}

@media screen and (max-width: 1024px) {
.nav-links {
    width: 50%;
}
.regis {
    width:25%;
}
/* Smartphone */
@media screen and (max-width: 768px) {
body {
    overflow-x: hidden;
}
.nav-links {
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 8vh;
    height: 100%;
    background-color:rgb(76, 229, 177);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
.nav-links li {
    opacity: 0;
}
.nav-links a {
    color: #193469;
}
.nav-links a:hover {
    color: rgb(3, 5, 10);
}
.burger {
    display: block;
}
.nav-active {
    transform: translateX(0%);
}
.regis {
    width:40%;
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}   
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}}}
